<h1>{{titulo}}</h1>
<!-- ALERT SECTION-->
<div *ngIf="alertMessage" class="alert alert-info" role="alert">
  <div class="alert-icon">
    <i class="now-ui-icons travel_info"></i>
  </div>
  {{alertMessage}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">
      <i class="now-ui-icons ui-1_simple-remove"></i>
    </span>
  </button>
</div>
<div class="col-md-6">
  <form #formAlbum="ngForm"(ngSubmit)="onSubmit()">
    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #title="ngModel" [(ngModel)]="album.title" name="title" class="form-control  input-lg" placeholder="Nombre Album"
        required>
    </div>
    <span *ngIf="!title.valid && title.touched">
      <p class="text-danger">El titulo es obligatorio</p>
    </span>

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #description="ngModel" [(ngModel)]="album.description" name="description" class="form-control  input-lg" placeholder="Descripcion Album"
        required>
    </div>
    <span *ngIf="!description.valid && description.touched">
      <p class="text-danger">La descripcion es obligatoria</p>
    </span>

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #year="ngModel" [(ngModel)]="album.year" name="year" class="form-control  input-lg"
        placeholder="Descripcion Album" required>
    </div>
    <span *ngIf="!year.valid && year.touched">
      <p class="text-danger">La fecha es obligatoria</p>
    </span>

    <div *ngIf="is_edit" class="form-group">
      <div class="albumImageEdit" *ngIf="album.image && album.image!='null'">
        <img src="{{url+'getImageAlbum/'+album.image}}" alt="Album">
      </div>
      <label for="">Sube la imagen del album</label>
      <input class="file" type="file" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
    </div>

    <input type="submit" value="{{titulo}}" [disabled]="!formAlbum.form.valid">
  </form>
</div>
