<div class="titleSection card">
  <div class="titulo row">
    {{titulo}}
  </div>
  <div class="accion row">
    <a [routerLink]="['/createArtist']" *ngIf="identity && identity.role == 'ROLE_ADMIN'" href="" class="btn btn-primary btn-round ">
      <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
      Añadir Artista
    </a>
  </div>
  <div class="pull-right">
    <ul class="pagination artistNav">
      <li class="page-item">
        <a [routerLink]="['/artists',prevPage]" aria-label="Previous"
        class="artistNav">
          <span aria-hidden="true">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </span>
        </a>
      </li>
      <li class="page-item">
        <a [routerLink]="['/artists',nextPage]" aria-label="Next"
         class="artistNav">
          <span aria-hidden="true">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<hr>
<ul class="artistList" *ngIf="identity">
    <li *ngFor="let artist of artists" class="col-lg-3 artistItem modal-content">
      <div class="artistImage">
        <img src="{{url + 'getImageArtist/'+artist.image}}" alt="">
      </div>
      <div class="artistName">
        <a href="#">{{artist.name}}</a>
        <div class="buttons" *ngIf="identity.role == 'ROLE_ADMIN'">
          <div class="row">
            <div class="col-md-6">
              <a [routerLink]="['/editArtist',artist._id]"
                  class="btn btn-warning btn-block"><i class="fa fa-pencil" aria-hidden="true"></i> Editar</a>
            </div>
            <div class="col-md-6">
              <a href="#" class="btn btn-danger btn-block"><i class="fa fa-trash" aria-hidden="true"></i> Borrar</a>
            </div>
          </div>
        </div>
      </div>
    </li>
</ul>

