<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
  <h1 class="text-center titleSection">{{titulo}}</h1>

  <!-- ALERT SECTION-->
  <div *ngIf="alertMessage" class="alert alert-info" role="alert">
    <div class="alert-icon">
      <i class="now-ui-icons travel_info"></i>
    </div>
    {{alertMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>

  <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #name="ngModel" [(ngModel)]="artist.name" name="name" class="form-control  input-lg" placeholder="Nombre Artista"
        required>
    </div>
    <span *ngIf="!name.valid && name.touched">
      <p class="text-danger">El nombre es obligatorio</p>
    </span>

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <textarea #description="ngModel" [(ngModel)]="artist.description" name="description" class="form-control" placeholder="Descripcion"
        required></textarea>
      </div>
      <span *ngIf="!description.valid && description.touched">
        <p class="text-danger">La descripcion es Obligatoria</p>
      </span>

      <div *ngIf="is_edit" class="form-group">
        <div class="artistImageEdit" *ngIf="artist.image && artist.image!='null'">
            <img src="{{url+'getImageArtist/'+artist.image}}" alt="">
        </div>
        <label for="">Sube la imagen del artista</label>
        <input class="file" type="file"
               placeholder="Subir imagen" (change)="fileChangeEvent($event)">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
