<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7" *ngIf="identity && identity.role == 'ROLE_ADMIN'">
  <h1 class="text-center">{{titulo}}</h1>

  <!-- ALERT SECTION-->
  <div *ngIf="alertMessage" class="alert alert-info" role="alert">
    <div class="alert-icon">
      <i class="now-ui-icons travel_info"></i>
    </div>
    {{alertMessage}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">
        <i class="now-ui-icons ui-1_simple-remove"></i>
      </span>
    </button>
  </div>

  <!-- FORM SECTION -->
  <form #formSong="ngForm" (ngSubmit)="onSubmit()">

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #number="ngModel" [(ngModel)]="song.number" name="number" class="form-control  input-lg" placeholder="Numero de canción"
        required>
    </div>
    <span *ngIf="!number.valid && number.touched">
      <p class="text-danger">La duracion es Obligatoria</p>
    </span>

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #name="ngModel" [(ngModel)]="song.name" name="name" class="form-control  input-lg" placeholder="Titulo Canción" required>
    </div>
    <span *ngIf="!name.valid && name.touched">
      <p class="text-danger">El titulo es obligatorio</p>
    </span>

    <div class="input-group form-group-no-border form-group">
      <span class="input-group-addon"></span>
      <input type="text" #duration="ngModel" [(ngModel)]="song.duration" name="duration" class="form-control  input-lg" placeholder="Duracion cancion" required>
    </div>
    <span *ngIf="!duration.valid && duration.touched">
      <p class="text-danger">La duracion es Obligatoria</p>
    </span>

    <div *ngIf="is_edit" class="form-group">
      <div class="songImageEdit" *ngIf="song.file && song.file!='null'">
          <audio controls>
            <source src="{{url+'getFileSong'+song.file}}" type="audio/mpeg">
                El navegador no aguanta  la reproduccion de audio.
          </audio>
      </div>
      <label for="">Sube el archivo de audio</label>
      <input class="file" type="file" placeholder="Subir Archivo" (change)="fileChangeEvent($event)">
    </div>
    <input type="submit" value="{{titulo}}" [disabled]="!formSong.form.valid" class="btn btn-primary">
  </form>
</div>

