<div class="col-md-8">
  <div class="row">
    <h1 class="text-center">{{titulo}}</h1>
  </div>
  <!-- SECTION MESSAGE -->
  <div class="row">
    <div *ngIf="alertMessage " class="alert alert-info" role="alert">
       {{alertMessage}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <!-- FORM UPDATE USER -->
    <form #updateUserForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" #name="ngModel" [(ngModel)]="user.name" name="nombre" class="form-control" required>
        <span *ngIf="!name.valid && name.touched">
          <p class="text-danger">El nombre es obligatorio</p>
        </span>
      </div>

      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" #surname="ngModel" [(ngModel)]="user.surname" name="surname" class="form-control" required>
        <span *ngIf="!surname.valid && surname.touched">
          <p class="text-danger">Los apellidos son obligatorios</p>
        </span>
      </div>

      <div class="form-group">
        <label for="emailRegister">Email address</label>
        <input type="email" #email="ngModel" [(ngModel)]="user.email" name="email" class="form-control" required>
        <span *ngIf="!email.valid && email.touched">
          <p class="text-danger">El email es obligatorio</p>
        </span>
      </div>

      <div class="form-group">
        <div class="imageForEdit" *ngIf="user.image && user.image != null">
          <img src="{{url + 'getImageUser/' + user.image}}"  class="img-responsive center-block" alt="Imagen del usuario">
        </div>
      </div>

      <div class="form-group">
        <label >Sube tu foto</label>
        <input type="file" placeholder="Subir Imagen ..." (change)="fileChangedEvent($event)">
      </div>

      <button type="submit" class="btn btn-primary btn-block">Actualizar  </button>
    </form>
  </div>
</div>
