<!-- Login User Sesion -->
<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>

  <nav id="navigation">
    <a href="#">
      <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Buscar
    </a>
    <a href="#">
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Artistas
    </a>
    <a href="#">
      <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Albums
    </a>
  </nav>

  <nav id="userLogged">
    <span>
      {{identity.name}}
    </span>
    <span class="btn btn-warning" (click)="logout()">
      Cerrar Sesión
    </span>
    <a [routerLink]="['/misDatos']">
      <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> MisDatos
    </a>
  </nav>
</div>

<div *ngIf="identity" class="central col-lg-11">
  <p>Logeado en la aplicación</p>
</div>


<!-- REGISTER AND LOGIN -->
<div class="container" *ngIf="!identity">
  <div class="py-2 text-center">
    <h2>{{ title }}</h2>
    <p class="lead">Aplicacion web sencilla para reproducir tu contenido multimedia</p>
  </div>
  <div class="row py-2">
    <!-- SECTION LOGIN -->
    <div class="col-md-6 login">
      <!-- ALERT SECTION-->
      <div *ngIf="errorMessage"
        class="alert alert-danger alert-dismissible fade show"
        role="alert">
        <i class="fa fa-info-circle"></i> {{errorMessage}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- login -->
      <h2 class="title-login mb-3">Inicio Sesión</h2>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" class="form login-form">
        <div class="form-group">
            <label class="sr-only" for="input-email">Usuario</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user"></i></div>
              </div>
              <input id="input-email"
                type="email"
                #email="ngModel"
                name="email" [(ngModel)]="user.email"
                class="form-control input-lg"
                placeholder="Email"
                autocomplete="off"
                required>
            </div>

            <small class="form-text text-muted"
              *ngIf="!email.valid && email.touched">
              <p class="text-danger">El email no es valido</p>
            </small>
        </div>

        <div class="form-group">
          <label class="sr-only" for="input-password">Contraseña</label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-unlock-alt"></i>
              </div>
            </div>
            <input id="input-password"
              type="password"
              #password="ngModel"
              name="password" [(ngModel)]="user.password"
              class="form-control input-lg"
              placeholder="Password"
              required>
          </div>
        </div>

        <button type="submit"
          class="btn btn-primary btn-block btn-lg">Entrar
        </button>

      </form>
    </div>

    <!-- SECTION REGISTER -->
    <div class="col-md-6">

      <div *ngIf="alertRegister"
        class="alert alert-danger alert-dismissible fade show"
        role="alert">
        <i class="fa fa-info-circle"></i> {{alertRegister}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>


      <!-- FORM REGISTER -->
      <h2 class="titleRegister mb-3">Registrate</h2>
      <form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="register">

        <!-- NOMBRE -->
        <div class="form-group">
            <label class="sr-only" for="input-name"></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-user"></i>
                  </div>
                </div>
                <input id="input-name"
                  type="text"
                  #name="ngModel" [(ngModel)]="userRegister.name"
                  name="nombre"
                  class="form-control  input-lg"
                  placeholder="Nombre"
                  autocomplete="off"
                  required>
            </div>
            <small class="form-text text-muted" *ngIf="!name.valid && name.touched">
              <p class="text-danger">El nombre es obligatorio</p>
            </small>
        </div>

        <!-- APELLIDOS -->
        <div class="form-group">
          <label class="sr-only" for="input-surname"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div>
            <input id="input-surname"
              type="text"
              #surname="ngModel" [(ngModel)]="userRegister.surname"
              name="surname"
              class="form-control input-lg"
              placeholder="Apellidos"
              autocomplete="off"
              required>
          </div>
          <small class="form-text text-muted" *ngIf="!surname.valid && surname.touched">
            <p class="text-danger">Los apellidos son obligatorios</p>
          </small>
        </div>

        <!-- EMAIL -->
        <div class="form-group">
          <label class="sr-only" for="input-register-email"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                  <i class="fa fa-at"></i>
              </div>
            </div>
            <input id="input-register-email"
              type="email"
              #email="ngModel"
              [(ngModel)]="userRegister.email"
              name="email"
              class="form-control input-lg"
              placeholder="Email Adress"
              autocomplete="off"
              required >
          </div>
          <small class="form-text text-muted" *ngIf="!email.valid && email.touched">
            <p class="text-danger">El email es obligatorio</p>
          </small>
        </div>

        <!-- PASSWORD -->
        <div class="form-group">
          <label class="sr-only" for="input-passwordr"></label>
          <div class="input-group mb-2">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-unlock-alt"></i>
              </div>
            </div>
            <input id="input-passwordr"
              type="password"
              #password="ngModel" [(ngModel)]="userRegister.password"
              name="password"
              class="form-control input-lg"
              required
              placeholder="Password">

          </div>
          <small class="form-text text-muted" *ngIf="!password.valid && password.touched">
            <p class="text-danger">El password es obligatorio</p>
          </small>
        </div>

        <button type="submit" class="btn btn-primary btn-lg btn-block">Registrar</button>
      </form>

    </div>
  </div>
</div>
