body, html {
  margin: 0px;
  height: 100%; }

body {
  background: #2d3436; }

html {
  background: #2d3436; }

.page-content-wrapper {
  color: #B0ABA0;
  background: #2d3436;
  position: absolute;
  padding: 15px;
  padding-left: 25px;
  min-height: 100%;
  min-width: 500px; }

.jumbotron {
  background: #757571;
  color: #F0F0F0; }

.navigation {
  text-align: center;
  color: #B0ABA0;
  background: #181712;
  height: 100%;
  position: absolute;
  position: fixed;
  z-index: 1000; }
  .navigation .headTitle {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase; }
  .navigation a {
    color: #B0ABA0;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none; }
    .navigation a:hover {
      color: #97CE68; }
  .navigation .glyphicon {
    font-size: 25px;
    display: block;
    width: 100%; }

.actived {
  border-bottom: 4px solid #84BD00;
  padding-bottom: 4px; }

#userLogged {
  border-top: 3px solid #757571;
  margin-top: 40px; }
  #userLogged .imageForEdit {
    margin: 0px auto;
    margin-top: 15px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center; }
    #userLogged .imageForEdit img {
      border-radius: 50%;
      width: 60px;
      height: 55px; }
    #userLogged .imageForEdit i {
      font-size: 24px; }

.btnLogout {
  cursor: pointer; }

.title-login {
  text-align: center;
  color: #B0ABA0; }

.login-form {
  background: rgba(255, 255, 255, 0.2);
  width: 60%;
  margin: auto;
  padding: 4em 2em;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.75); }

.titleRegister {
  text-align: center;
  color: #B0ABA0; }

.register {
  background: rgba(255, 255, 255, 0.2);
  width: 60%;
  margin: auto;
  padding: 4em 2em;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.75); }

.titleSection {
  background: rgba(255, 255, 255, 0.2);
  color: #F0F0F0;
  opacity: 0.9;
  text-align: center;
  padding: 10px;
  margin: 0px;
  border-radius: 5px; }
  .titleSection .titulo {
    font-size: 36px;
    font-weight: bold;
    font: Montserrat; }
  .titleSection .accion {
    font-size: 16px;
    padding: 0px; }

.artistNav {
  color: white;
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 10px; }
  .artistNav .previous, .artistNav .next {
    background: #84BD00;
    color: white;
    text-align: center;
    display: inline-block; }
  .artistNav .previous {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: solid 1px #757571; }
    .artistNav .previous:hover {
      background: #97CE68 !important; }
  .artistNav .next {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 5px;
    border: solid 1px #757571; }
    .artistNav .next:hover {
      background: #97CE68 !important; }

.artistList {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .artistList .artistItem {
    width: 24%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #757571;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px; }
    .artistList .artistItem .artistImage {
      height: 245px;
      width: 100%;
      background-size: cover;
      justify-content: center;
      background: #757571;
      overflow: hidden; }
    .artistList .artistItem .artistNotImage {
      background: #757571;
      height: 245px;
      width: 263px;
      text-align: center;
      line-height: 263px;
      font-size: 120px; }
      .artistList .artistItem .artistNotImage img {
        height: 100%;
        min-width: 100%; }
    .artistList .artistItem .artistName {
      padding: 10px;
      color: #F0F0F0;
      background: rgba(47, 54, 64, 0.85);
      text-align: center; }
      .artistList .artistItem .artistName a {
        color: #F0F0F0;
        font-size: 12px; }

.artistImageEdit img,
.albumImageEdit img {
  width: 300px;
  height: 300px; }

/**SECTION ARTIST DETAIL STYLES */
#artistHeadCard .image {
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px; }
#artistHeadCard .artistNotImage {
  background: #757571;
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  text-align: center;
  line-height: 150px;
  font-size: 120px; }
  #artistHeadCard .artistNotImage img {
    width: 150px; }

.seguro {
  margin-top: -45px;
  text-align: center;
  background: #2f3640;
  position: absolute;
  overflow: hidden; }

.galeryAlbums {
  margin-top: 50px; }

.albumList {
  margin: 0px;
  padding: 0px;
  margin-top: 0px;
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .albumList .albumItem {
    width: 24%;
    padding: 0px;
    margin: 0px;
    border: 1px solid #757571;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px; }
    .albumList .albumItem .albumImage {
      height: 245px;
      width: 100%;
      background-size: cover;
      justify-content: center;
      background: #757571;
      overflow: hidden; }
    .albumList .albumItem .albumNotImage {
      background: #757571;
      height: 245px;
      width: 263px;
      text-align: center;
      line-height: 263px;
      font-size: 120px; }
      .albumList .albumItem .albumNotImage img {
        height: 100%;
        min-width: 100%; }
    .albumList .albumItem .albumName {
      padding: 10px;
      color: #F0F0F0;
      background: rgba(47, 54, 64, 0.85);
      text-align: center; }
      .albumList .albumItem .albumName a {
        color: #F0F0F0;
        font-size: 12px; }

/*# sourceMappingURL=styles.css.map */
