// SECTION STYLE ARTIST
.artistList
  margin: 0px
  padding: 0px
  margin-top: 30px
  list-style: none

// ITEMS ELEMENTS
.artistItem
  width: 23%
  padding: 0px
  margin: 0px
  height: 317px
  border: 1px solid #444
  margin-left: 17px
  margin-top: 20px
  .artistImage
    height: 245px
    width: 100%
    background: $BORDER_TOP
    overflow: hidden
    img
      height: 100%
      min-width: 100%
  .artistName
    padding: 10px
    color: $FONTS_NAVBAR
    background: #2f3640
    text-align: center
    a
      color: white
      font-size: 12px
// PAGINATION ALBUMS
.artistNav
  background: #2f3640 !important
  color: white !important
  a
    background: $ACTIVED_BUTTON !important
    &:hover
      background: $HOVER_BUTTON !important

.artistImageEdit
  img
    width: 300px
    height: 300px

.titleSection
  background: $BORDER_TOP
  color: $FONTS_NAVBAR
  opacity: 0.9
  filter: alpha(opacity=20)
  text-align: center
  padding: 15px       //Alinea horizontal
  margin: 0px         // Quita el margen entre elementos
  border-radius: 5px  //Redondea bloques
  .titulo
    font-size: 36px
    font-weight: bold
    font: Montserrat
  .accion
    font-size: 16px
    padding: 0px

hr
  border-top: 3px solid $BORDER_TOP

/**SECTION ARTIST DETAIL STYLES*/
#artistHeadCard
  .image
    width: 150px
    height: 150px
    overflow: hidden
    float: left
    margin-right: 30px
    img
      width: 150px

// ACTION DELETE ARTIST
.seguro
  margin-top: -45px
  text-align: center
  background: #2f3640
  position: absolute
  overflow: hidden
