body,html
  margin: 0px
  height: 100%

body
  background: $PAGE_CONTENT
html
  background: $PAGE_CONTENT

.page-content-wrapper
  color: $BACKGROUND
  background: $PAGE_CONTENT
  position: absolute
  padding: 15px //genera espacio alrededor del contenido de un elemento.
  padding-left: 25px //Mueve a la izquierda el contenido
  min-height: 100%
  min-width: 500px
  overflow-y: scroll

.jumbotron
  background: $BORDER_TOP
  color: $FONTS_NAVBAR
