body,html
  margin: 0px
  height: 100%
  overflow-x: hidden

body
  background: $PAGE_CONTENT
html
  background: $PAGE_CONTENT

.page-content-wrapper
  color: $BACKGROUND
  background: $PAGE_CONTENT
  position: absolute
  padding: 15px
  padding-left: 125px

.jumbotron
  background: $BORDER_TOP
  color: $FONTS_NAVBAR
