#userLogged
  border-top: 3px solid $BORDER_TOP
  margin-top: 40px
  .imageForEdit
    margin: 0px auto
    margin-top: 15px
    margin-bottom: 10px
    overflow: hidden
    text-align: center
    img
      border-radius: 50%
      width: 60px
      height: 55px
    i
      font-size: 24px

.btnLogout
  cursor: pointer
